/node_modules
/public/hot
/public/storage
/storage/*.key
composer.json
composer.lock
/vendor_
.env.backup
/.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor.zip
/vendor