<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
    <httpProtocol>
        <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=70006000; includeSubDomains; preload" />
        </customHeaders>
    </httpProtocol>
       <defaultDocument>
           <files>
               <clear />
               <add value="index.php" />
           </files>
       </defaultDocument>
       <rewrite>
           <rules>
               <rule name="Laravel Force public">
                   <match url="(.*)" ignoreCase="false" />
                   <action type="Rewrite" url="public/{R:1}" />
               </rule>
               <rule name="Laravel Routes" stopProcessing="true">
                   <conditions>
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                   </conditions>
                   <match url="^" ignoreCase="false" />
                   <action type="Rewrite" url="public/index.php" />
               </rule>
           </rules>
             <outboundRules>
               <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                <conditions>
                <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                </conditions>
                <action type="Rewrite" value="max-age=70006000" />
                </rule>
            </outboundRules>
       </rewrite>
   </system.webServer>
</configuration>


